extends layout

block scripts
    link(rel='stylesheet', href='/stylesheets/chat.css')

block content
    div(class='row')
        div(class='col-9')
            p nyanyi
        div(class='col-3')
            div(class='chat')
                ul(id='messages')

    div(class='chat')
        form(id='chatForm' action='')
                input(id='m', autocomplete='off')
                button Send

    include constant/websocket
    +websocket
