extends layout

block scripts
    link(rel='stylesheet', href='/stylesheets/chat.css')

block content
    div(class='chat')
        ul(id='messages')
            form(action='')
                input(id='m', autocomplete='off')
                button Send

