extends layout
include chat/chatMessages
include game/gameCanvas

block scripts
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/game.css')

block content
    div(class='row')
        div(class='col-10')
            +gameCanvas(800,600)
        div(class='col-2')
            +chatMessages

    +websocket
