doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts

  body
    include constant/navbar
    +navbar
    block content
    block websocket

