mixin navbar
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="/") Home
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link" href="/gameLobby") Gme lobby

                li(class="nav-item")
                    a(class="nav-link" href="#") unused

                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    Dropdown

                div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                    a(class="dropdown-item" href="#") unused
                    a(class="dropdown-item" href="#") unused

                div(class="dropdown-divider")
                    a(class="dropdown-item" href="#") unused

                li(class="nav-item")
                    a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Disabled

            form(class="form-inline my-2 my-lg-0" id='chatForm' action='')
                input(id='m' class="form-control mr-sm-2" type="chatInput" placeholder="Send message" aria-label="Send message" autocomplete='off')
                button(class="btn btn-outline-success my-2 my-sm-0 " type="submit") Send
